body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #353535;
    font-size: 16px;
	line-height: 22px;
	padding: 0;
	margin: 0;
}

.yellow-background {
	background-color: #FCD232;
	color:#353535;
	border: none;
}

.navbar-default .navbar-collapse{
	border: none;
}

.logo {
	max-width: 80px;
	height: auto;
	padding: 10px;
	margin: 10px;
}

.navbar-default .navbar-toggle {
	border: none;
	background-color: #FCD232;
	margin-top:25px;
	margin-bottom: 25px;
	padding: 10px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
	background-color: #FCD232;
}

#myNavbar.navbar-collapse.collapse.in > ul,
#myNavbar.navbar-collapse.collapsing > ul{
	text-align: center;
}


.my-bars {
	color: #353535;
	font-size: 26px;
}

.my-bars:hover,
.my-bars:focus,
.my-bars:active {
	color: black;
}
.navbar-default .navbar-nav > li > a {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	color: #353535;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active{
	background-color: transparent;
	color: black;
}

/* -----------------------------Style for modal------------------------- */

.nav-item .modal-opener:focus,
.nav-item .modal-opener:hover{
	outline: none !important;
}

.modal-open .modal,.modal-opener:focus{
    outline:none !important;
}

.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -300px, 0);
   transform: translate3d(0, -300px, 0);
   opacity: 1;
}

.custom-modal {
	background-color: #383838;
	color: white;
	text-align: center;
}

.custom-modal .modal-header {
	border: none;
	text-align: center;
}

.custom-modal .modal-body {
	text-align: center;
}

.custom-modal .modal-header h3 {
	display: block;
	text-align: center;
	margin-top: 25px;
}

.custom-modal .close-style {
	color: white;
	font-size: 30px;
	opacity: 1;
}

.custom-modal .close-style:hover {
	color: #FCD232;
}

.custom-modal .input {
	width: 80%;
	color:#353535;
	border: none;
}

.custom-modal .input-btn {
	border: 2px solid #FCD232;
	color: #FCD232;
	margin: 25px 0;
}

.custom-modal .input-btn:hover {
	border: 2px solid#353535;
	color: #353535;
	background-color: #FCD232;
}

/* ------------------------Style for body------------------------- */

.text-centered {
	text-align: center;
}

.text-bottom-margin{
	margin-top:20px;
	margin-bottom:30px;
}

.text-white {
	color: white;
}

.cover {
	position: relative;
	height: 60vh;
	width: 100%;
	background: url(img/synthesio-0301.gif);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	top: 0;
    left: 0;
	z-index: 1;
}

.cover::before {
	content: "";
	background-color: rgba(53, 53, 53, 0.5);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.heading {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.text-padding h1 {
	font-size: 3em;
	padding-bottom: 15px;
}

.text-padding h4 {
	font-size: 1.5em;
	line-height: 1.3em;
}

.projects {
	clear: both;
	margin-top: 40px;
	margin-bottom: 30px;
}

.project-card {
	margin-top: 20px 0;
	text-align: center;
	
}

.project-card:hover {
	cursor: pointer;
}

.project-card .project-logo {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: all 0.5s ease;
}
.project-card:hover .project-logo {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.project-logo {
	margin: 0 auto;
	width: 100%;
	max-width: 350px;
	height: 200px; 
}

.project-name h2 {
	font-size: 22px;
}

.project-name h4 {
	font-size: 18px;
}

.project-description {
	font-size: 16px;
	text-align: justify;
	min-height: 140px;
}

/*-----------------------Style for admin-------------------------*/

.form-padding {
	padding: 45px 0;
}

.form-group .separated {
	margin-top: 40px;
}

.text-enhanced {
	font-size: 20px;
	padding-bottom: 12px;
}

.text-muted {
	color: grey;
	font-size:16px; 
}

.input {
	border-radius: 5px;
	border: 2px solid #353535;
	padding: 15px 20px;
	width: 100%;
}

.input:hover,
.input:active,
.input:focus,
.input:invalid {
	outline: none;
	box-shadow: none;
}

.input-btn {
	margin-top: 40px;
	background-color: transparent;
	font-weight: bold;
}

.input-btn-extra-margin {
	margin-bottom: 80px;
}

.input-btn:hover {
	background-color: #FCD232;
}

.btn-admin-head {
	border-radius: 5px;
	border: 2px solid #353535;
	height: 40px;
	width:150px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
}

.btn-admin-head:hover {
	background-color:#353535;
	color: #FCD232;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.admin-button {
	width: 40%;
	max-width: 150px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid #FCD232;
	background-color:#FCD232;
	font-size: 14px;
	font-weight: bold;
	margin-top:10px;
	margin-bottom: 40px;
}

.admin-button:hover {
	background-color:#353535;
	border: 2px solid #353535;
	color: #FCD232;
}

.clear-float {
	clear: both;
}

/* ------------------Style for footer----------------------- */

footer {
	clear: both;
	margin-top:30px;
	position: relative;
}

.footer-wrap {
	width:100%;
	height: 100%;
	background-color: #ECECEC;
	font-size: 11px;
	text-align: center;
}

.footer-logo {
	height: 15vh;
	padding: 10px;
}

.footer-wrap a {
	color: teal;
	text-decoration: none;
}

.red {
	color:red;
}

.yellow {
	color: #FCD232;
}


@media(min-width:768px)
{   

	.nav-item {
		width:150px;
		text-align: center;
	}
	.navbar-right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.admin-nav-item {
		height: 100%;
		text-align: center;
	}

	.admin-navbar-right {
		margin: 10px 0;
	}

}